<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="main">
        <h1>Our 2025 keynote speaker</h1>
        <div class="flex-container">
            <div class="flex-item">
                <img src="https://cdn.pixabay.com/photo/2017/12/31/15/56/portrait-3052641__340.jpg" alt="">
                <div class="text"><h2>Tarang Regmi</h2>
                <h5>Head of Herald college<br>The Boss</h5>
                <h6>September 16</h6>
                </div>

            </div>
            <div class="flex-item">
                <img src="https://cdn.pixabay.com/photo/2017/06/26/02/47/man-2442565__340.jpg" alt="">
                <div class="text"><h2>Tarang Regmi</h2>
                <h5>Head of Herald college<br>The Boss</h5>
                <h6>September 16</h6>
                </div>

            </div>
            <div class="flex-item">
                <img src="https://cdn.pixabay.com/photo/2015/01/27/09/58/man-613601__340.jpg" alt="">
                <div class="text"><h2>Tarang Regmi</h2>
                <h5>Head of Herald college<br>The Boss</h5>
                <h6>September 16</h6>
                </div>

            </div>
         </div>
    </div>
</body>
</html>